<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TrafficSignalLight.DB.Properties.Settings.TraficLightSignesConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=TraficLightSignes;Persist Security Info=True;User ID=sa;Password=NTX123456789"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>